body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: hsla(318, 22%, 27%, 1);
  background: linear-gradient(90deg, hsla(318, 22%, 27%, 1) 0%, hsla(351, 45%, 45%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(318, 22%, 27%, 1) 0%, hsla(351, 45%, 45%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(318, 22%, 27%, 1) 0%, hsla(351, 45%, 45%, 1) 100%);
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
