.login-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;

  .login-image {
    height: 100%;
    width: 60%;
  }
  .login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;

    &-heading {
    }
  
    &-input {
      width: 400px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
  
    &-submit {
      margin-top: 20px !important;
    }
  
    &-switch {
      cursor: pointer;
      margin-top: 20px;
    }
  
  }
}